   #ass a{color: white;margin-top: 2rem;margin-right: 2rem; }
.nav-item  #ass {color: white;margin-top: 2rem;}
.collapse { float: right;
}
.head .navbar{height: 8rem;
    background:#000000;
}

 .navbar-brand {
margin-bottom: 2rem;
}
.sd{ margin-top: 1rem; }
.navbar-toggle{
    margin-top: 2.5rem;
}

.x {
width: 100%;
    background-color: black;
     text-align: left;
     font-size: 2rem;
display: none;
     padding-top: 1rem;
    font-family: sans-serif;

}

.x h1{
border-bottom:1px solid white ;
     margin-top: 1rem;
color: white;
     font-size: 2rem; cursor: pointer;font-family: sans-serif;

}
.x .b {
width: 100%;
    background-color: white;
     text-align: left;
     font-size: 1rem;
display: none;
}.x .b h2{
border-bottom:1px solid black ;

}
.c{
    text-align: center;

}

.x .c{
width: 100%;
    background-color: white;
     text-align: left;
     font-size: 2rem;
display: none;
}

.x .d{
width: 100%;
    background-color: white;
     text-align: left;
     font-size: 2rem;
display: none;
}

.d h2 {
     margin-top: 1rem;
border-bottom: 1px solid black;

}


    
  html, body {
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    height: 100%;
}
.banner {
    width: 100%;
    background-color: #666;
    background-image: url('wes.jpg');
    background-size: cover;
    background-position: center center;
    color: #fff;
    margin-top: 8rem;
}
.banner:before {
    content: "";
    float: left;
    padding-bottom: 40%;
}
.banner:after {
    content: "";
    display: table;
    clear: both;
}
.banner .content  {
   max-width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: none;
    color: white;
    margin-top: 10%;
}.banner .content h1 {
  font-size: 5rem;
}.banner .content p{
width: 100%;}
.banner a {
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
    background: rgba(0, 0,0, 0.2);
    border: 3px solid #ff002a;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #ff002a;
}
.banner a:hover {
    border-radius: 5px;
    color: #ff002a;
    text-transform: uppercase;
    border: 3px solid #ff002a;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgba(255, 251, 251, 0.11);
}.con{
    display: grid;
                /*grid-template-columns: 1fr 1fr 1fr ; */
                grid-template-columns:1fr 1fr ;
                grid-gap: 1em; 
                /*grid-auto-rows: 100px;*/
                grid-auto-rows: minmax(100px,auto);
                /*grid-column-gap: 1em;
                grid-row-gap: 1em;*/

 
}.rf{
   width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 8rem;
        margin-right: 5rem;

}.rf h2{
  border-radius:5% ;

 text-align: center;
margin-top: 3rem;
    font-size: 1.5rem;
    border: 1px solid ;
    width: 30%;
    height: 45px;
    line-height: 4rem;
    background-color: white;
}.rf p1{
  margin-right: 20rem;
}

.rf h2:hover{
    border: 1px solid #ff002a;
background-color:#ff002a       ;
 
}
.rfs{
   width: 100%;
    height: 300px;
    background-color: white;
    margin-top: 8rem;
    margin-left: 5rem;

}.rfs h2{
  border-radius:5% ;
    background-color: white;

 text-align: center;
margin-top: 3rem;
    font-size: 1.5rem;
    border: 1px solid ;
    width: 30%;
    height: 45px;
    line-height: 4rem;
        ;
}.rfs h2:hover{
    border: 1px solid #ff002a;
background-color:#ff002a       ;
 
}
.rfs h1,p{

      ;
}

.ax img{

width: 100%}
.ax{

    margin-top: 5rem;    ;
}
.ax2 img{

width: 100%       ;
}



.ax1img{

width: 100%       ;
}

.shit{
width: 100%;
    text-align: center;
    margin-bottom: 7rem;
    background-color: white;
    margin-top: 5rem;
    
}


.shit h3{
    font-size: 5rem;
    text-align: center;
   width: 100%;

    
}


.shit p{
    font-size: 2rem;
   width: 100%;
text-align: center;
    
}

.col-md-9 div{
text-align: left;    width: 280px;
    height: 160px;
    background-color: white;
float: right;

}

.col-md-9{
    margin-left: 16rem;

}
.col-md-9 h2{
font-size: 1.5rem;
}

.col-md-9 div img{
    width: 250px;
    height: 160px;
    background-color: blue;

}

.svg{
    width: 100%;
    height: 260px;
    background-color: white;
    display: grid;
    grid-template-columns:1fr 1fr;
grid-gap: 1em; 
    margin-top: 2rem;
    
/*grid-auto-rows: 100px;*/
grid-auto-rows: minmax(100px,auto);

/*grid-column-gap: 1em;
grid-row-gap: 1em;*/

    

}

.yq{
    width: 100%;
    height: 160px;
background-color: #fafaff;
    margin-top: 6rem;
   
    margin-left: 20rem;

    

}

.yq h4{
   font-size: 4rem;
    font-family: sans-serif;
    font-weight: bold;
   

    

}
.yq span{
    font-family: sans-serif;
    font-weight: bold;
   color: #867687;


    

}

.imc{
    box-shadow:  black;
    width:100%;
    height: 160px;
    background-color: white;
    margin-top: 5rem;
display: grid;
    border-radius: 5%;
/*grid-template-columns: 1fr 1fr 1fr ; */
grid-template-columns: repeat(3,1fr);
grid-gap: 1em;  
/*grid-auto-rows: 100px;*/
grid-auto-rows: minmax(100px,auto);

/*grid-column-gap: 1em;
grid-row-gap: 1em;*/
  
}


.imc img{
margin-top: 2rem;
    margin-left: 10rem;


}
.what {
    width: 130%;
    height: 100%;
    background-color: white;
        margin-top: 2rem;
}


.what span{
    margin-right: 2rem;
        
}


.what h5{
  font-size: 2rem;
    font-weight: bold;
}
.shu  img{
    width: 170px;
    height: 160px;
background-color: brown;
    float: right;

}
.shu  img:hover{
   border: 1px solid ;

}

.shu  {
    width:80%;
    height: 160px;
    background-color: red;
    margin-top: 3rem;
    margin-bottom: 3rem;
    z-index: 1;
padding-top: 10rem;
}


.er,.ers,.ersd {
   margin-top: 20rem;
    margin-left: 10rem;
}
.er h1 {
font-size: 2rem;
color: white;}
.er h2{
font-size: 1.5rem;
color: red;}
.ers h1 {
font-size: 2rem;
color: white;
}
.shu{
   width:100%;
    background-color: white;
    margin-top: 10rem;
margin-right: 20rem;        
 
    
    
}.ersd h1{
margin-left: 1rem
}.ersd p{
margin-left: 1rem
}
.ers{
   width 100%;
}
.ersd h1 {
font-size: 2rem;
color: white;
    margin-bottom: 2rem;
}
.five h8{
    width: 100%;
    height: 100px;
    background-color: white;
    border: 10px solid #ffffff;
    font-size: 2rem;
margin-left: 60rem;
}

.five{
text-align: center;
position: absolute;  
    margin-top: 5rem
  }

.three {
   z-index: 1;
    margin-right: 30rem;
    
}

.ers input{
text-transform: uppercase;
   width: 70%;
    height: 30px;
    background-color: black;
    border: 1px solid #24293d;
    padding-top: 1rem;

    
    line-height: 2rem;
}


.glyphicon 	
{
margin-top: 1rem;
 text-align: center;
color: white;
    background-color:#ff002a;
    font-size: 2rem;
    border: 5px solid #ff002a;
}
.ers {
    width: 100%;
}
.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    text-align: center;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    color: white;

}

/* Twitter */
.fa-twitter {
    color: white;

}
 
.fa-skype {
    color: white;
}

/* Twitter */
.fa-yahoo {
    color: white;

}
 .f {
margin-right: 1rem;}
 
 .cb h2 {
     margin-top: 1rem;
border-bottom: 1px solid black;

}
.cb{
   width:100%;
    height: 70%;
    background-color: black;
         display: grid;
                /*grid-template-columns: 1fr 1fr 1fr ; */
                grid-template-columns:1fr 1fr 1fr;
                grid-gap: 1em;  
                /*grid-auto-rows: 100px;*/
                grid-auto-rows: minmax(100px,auto);
                /*grid-column-gap: 1em;
                grid-row-gap: 1em;*/

    

    }

    

   

  @media only screen and (min-width: 320px) and (max-width: 1000px){
.con{
display: grid;
                /*grid-template-columns: 1fr 1fr 1fr ; */
                grid-template-columns:1fr ;
                grid-gap: 1em; 
                /*grid-auto-rows: 100px;*/
                grid-auto-rows: minmax(100px,auto);
                /*grid-column-gap: 1em;
                grid-row-gap: 1em;*/
    padding: 1rem;

width: 100%;
    background-color: white;

    }
    .ax img{
width: 100%      ;
}
      
      
      
      
        .ax1 img{
width: 100%      ;
}
      
      
      
       .ax2 img{
width: 90%      ;
}
      
      
     .rfs{
  
        margin-right: 0rem;

} 
      
    
   .rfs{
  
    margin-left: 0rem;

}   
      
  .col-md-9{
    margin-right:2rem ;

}
      .svg{
    width: 100%;
    height: 290px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
grid-gap: 1em; 
    margin-top: 1rem;
    
/*grid-auto-rows: 100px;*/
grid-auto-rows: minmax(100px,auto);

/*grid-column-gap: 1em;
grid-row-gap: 1em;*/

    

}
.what {
    width: 120%;
    height: 500px;
    margin-right: 20rem;
    font-size: 1rem;
}
.what h5{
    
    font-size: 1.2rem;
}

 .imc img{
margin-top: 2rem;
    margin-left: 1rem;


}  
  .yq{
    width: 100%;
    height: 160px;
    margin-top: 2rem;
   
    margin-left: 1rem;

    

}
   
  .cb{
      margin-top: 20rem;
   width:120%;
    height: 100%;
    background-color: black;
         display: grid;
                /*grid-template-columns: 1fr 1fr 1fr ; */
                grid-template-columns: 1fr 1fr;
                grid-gap: 1em;  
      padding: 0rem;
                /*grid-auto-rows: 100px;*/
                grid-auto-rows: minmax(100px,auto);
                /*grid-column-gap: 1em;
                grid-row-gap: 1em;*/
    

    }
.banner {
    width: 120%;
   
}
      
   .er h2{
   margin-left: 1rem;
}   
      
      
      .er h1 {
   margin-left: 1rem;
}.er p {
   margin-left: 1rem;
}
    .er,.ers,.ersd {
   margin: 0;
}
 .er p{
font-size: 1.5rem;}  
      
   .shu {
    background-color: white;
    margin-top: 2rem;
       width:100%;

}
.five h8{
   
    background-color: white;
    border: 10px solid #ffffff;
    font-size: 1rem;
        margin-left: 16rem;

}

.five{
text-align: center;
    position: absolute;
    margin-top: 5rem;
  }

.three {
   z-index: 1;
    width: 80%;
    height: 100%;
    
}   
   .rfs h2{

    width: 100%;
    height: 45px;
    line-height: 4rem;
        ;
}.rf h2{
  
    width: 100%;
    height: 45px;
    line-height: 4rem;
        ;
}
      
  }
  